.input {
    margin: 2rem auto;
    padding: 1rem;
    width: 90%;
    max-width: 40rem;
  }

  .input div {
    font-size: 20px;
    padding-bottom: 10px;
  }

  .head h3{
    padding: 0px;
    margin: 0px;
    font-size: 25px;
    color:  #4f005f;
    display: inline-flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;

}

.head h3 span {
  margin-left: 10px;
}